<!DOCTYPE html>
<html
        lang="id" dir="ltr"
        xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Title -->
    <title>Sorry, This Page Can&#39;t Be Accessed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
</head>

<body class="bg-dark text-white py-5">
<div class="container py-5">
    <div class="row">
        <div class="col-md-2 text-center">
            <i class="fa fa-exclamation-triangle fa-5x"></i>
            <p th:utext="|Status code: ${status}"></p>
        </div>
        <div class="col-md-10">
            <h3>OPPSSS!!!! Sorry...</h3>
            <p>The page you are looking for does not exist.<br>You can click the button below to go back to the homepage.</p>
            <a class="btn btn-primary" href="/">Back to homepage</a>
        </div>
        <div id="stack_trace" class="col-md-20" hidden="hidden">
            <h4>Traceback:</h4>
            <p th:utext="${stackTrace}"></p>
        </div>
    </div>
</div>
</body>
<script>
    function getQueryString(name) {
        let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        let r = window.location.search.substr(1).match(reg);
        if (r != null) {
            return decodeURIComponent(r[2]);
        }
        return null;
    }
    if (JSON.parse(getQueryString("debug"))){
        $("#stack_trace").attr("hidden", false);
    }
</script>
</html>